<div class="emp-card" (click)="onCardClick()">
  <img src="../../../assets/profile.jpg" alt="">
  <div>
    <h3 class="displayname">{{ (employee.firstName + " " +employee.lastName) }}</h3>
    <p class="light">{{ employee.jobTitle }}</p>
    <p class="light">{{ employee.department }}</p>
    <p class="user-info-icons">
      <i class="fa-solid fa-phone card-icon"></i>
      <i class="fa-solid fa-envelope card-icon"></i>
      <i class="fa-solid fa-comment card-icon"></i>
      <i class="fa-solid fa-star card-icon"></i>
      <i class="fa-solid fa-heart card-icon"></i>
    </p>
  </div>
</div>