.container{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

#overlay{
    background-color: #dee6e9c6;
    position: fixed;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0.7;
    display: none;
}