<div class="overlay" *ngIf="isDetailsForm || isEditMode"></div>
<div class="form-popup" id="employeeFormContainer" [style.display]="isEditMode || isDetailsForm ? 'block' : 'none'">
    <button class="btn-edit" (click)="enableEditMode()" *ngIf="isDetailsForm">
        <i class="fas fa-edit fa-xl"></i>
    </button>
    <button class="btn-delete" *ngIf="isDetailsForm" (click)="deleteEmployee()">
        <i class="fa-solid fa-trash-can fa-xl"></i>
    </button>
    <h2 class="emp-form-title" [innerText]="isDetailsForm ? 'Edit Employee' : 'Add Employee'"></h2>
    <form #employeeForm="ngForm" class="emp-form" id="myForm"
        (ngSubmit)="isDetailsForm ? updateEmployee():addEmployee()">
        <div>
            <label for="firstName">First Name <span class="required"></span></label>
            <input type="text" id="firstName" name="firstName" required ngModel [(ngModel)]="employee.firstName"
                [disabled]="!isEditMode">
        </div>
        <div>
            <label for="lastName">Last Name <span class="required"></span></label>
            <input type="text" id="lastName" name="lastName" required ngModel [(ngModel)]="employee.lastName"
                [disabled]="!isEditMode">
        </div>
        <div>
            <label for="preferredName">Preferred Name</label>
            <input type="text" id="preferredName" name="preferredName" ngModel [(ngModel)]="employee.preferredName"
                maxlength="18" [disabled]="!isEditMode">
        </div>
        <div class="form-row">
            <label for="email">Email <span class="required"></span></label>
            <input type="text" id="email" name="email" required email ngModel [(ngModel)]="employee.email"
                [disabled]="!isEditMode">
        </div>
        <div>
            <label for="jobTitle">Job Title <span class="required"></span></label>
            <select name="jobTitle" id="jobTitle" required ngModel [(ngModel)]="employee.jobId"
                [disabled]="!isEditMode">
                <option *ngFor="let jobTitle of jobTitles" [value]="jobTitle.jobId">
                    {{ jobTitle.jobTitleName }}
                </option>
            </select>
        </div>
        <div>
            <label for="office">Office <span class="required"></span></label>
            <select name="office" id="office" required ngModel [(ngModel)]="employee.officeId" [disabled]="!isEditMode">
                <option *ngFor="let office of offices" [value]="office.officeId">
                    {{ office.officeName }}
                </option>
            </select>
        </div>
        <div>
            <label for="department">Department <span class="required"></span></label>
            <select name="department" id="department" required ngModel [(ngModel)]="employee.deptId"
                [disabled]="!isEditMode">
                <option *ngFor="let department of departments" [value]="department.deptId">
                    {{department.deptName}}</option>
            </select>
        </div>
        <div>
            <label for="phoneNumber">Phone Number <span class="required"></span></label>
            <input type="tel" id="phoneNumber" name="phoneNumber" required maxlength="10" ngModel
                [(ngModel)]="employee.phoneNumber" [disabled]="!isEditMode">
        </div>
        <div>
            <label for="skypeId">Skype Id <span class="required"></span></label>
            <input type="text" id="skypeId" name="skypeId" ngModel [(ngModel)]="employee.skypeId"
                [disabled]="!isEditMode">
        </div>
        <div class="btn-row">
            <button type="submit" class="btn-submit" *ngIf="!isDetailsForm">Submit</button>
            <button class="btn-submit" *ngIf="isEditMode && isDetailsForm">Save</button>
            <button type="button" class="close" (click)="closeEmployeeForm()">Cancel</button>
        </div>
    </form>
</div>