<div class="login-form-container">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
        <div>
            <label for="email" class="form-label">Email</label>
            <input type="text" id="email" name="email" [(ngModel)]="loginModel.email" required>
        </div>
        <div>
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="loginModel.password" required>
        </div>
        <button type="submit" class="btn-login">Login</button>
    </form>
    <p>Don't have an account?<a href="register">Sign Up</a></p>
</div>