.employees-cards-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 10px;
    justify-content: space-between;
    border: 1px solid #C2C2C2;
    padding: 25px;
    height: 50vh;
    column-gap: 4px;
    align-content: baseline;
    overflow: hidden;
    overflow-y: auto;
}

.emp-card {
    cursor: pointer;
    background-color: #E9E8E8;
    width: 305px;
    height: 98px;
    gap: 10px;
    padding: 10px;
    line-height: 4px
}

.emp-card>div {
    width: max-content;
    margin-top: -20px;
}

.emp-card>img {
    width: 90px;
    height: 95px;
}

.emp-card-icons {
    margin-top: -4px;
}

.text-light {
    color: #514b4bd9;
}

.text-blue {
    color: #00B1FC;
}

.card-icon {
    color: #969595;
}

.displayname {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px !important;
    padding-top: 10px;
    padding-bottom: 8px;
}