.employees-cards-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    row-gap: 10px;
    justify-content: space-between;
    border: 1px solid #C2C2C2;
    padding: 25px;
    height: 50vh;
    column-gap: 4px;
    align-content: baseline;
    overflow: hidden;
    overflow-y: auto;
}