.form-popup {
    position: fixed;
    margin-top: 6vh;
    width: 56%;
    left: 25%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
    z-index: 1;
}

.emp-form label {
    display: inline-block;
    width: 600px;
    margin-bottom: 5px;
    font-size: 24px;
}

.emp-form input,
.emp-form select {
    border: 1px solid rgba(172, 169, 169, 0.568);
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 12px;
    font-size: 18px;
}

.btn-row {
    display: flex;
    justify-content: flex-end;
    margin-right: 57px;
    position: relative;
    left: 186%;
}

.btn-submit {
    display: inline-block;
    background-color: rgb(123 188 26);
    color: #fff;
    padding: 10px;
    border: none;
    font-size: 20px;
    width: 8vw;
    cursor: pointer;
    margin: 20px 10px;
    box-sizing: content-box;
}

.btn-submit:hover {
    background-color: rgb(105, 155, 31);
}

.close {
    display: inline-block;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.76);
    border: 1px solid rgba(172, 169, 169, 0.455);
    padding: 10px;
    font-size: 20px;
    width: 8vw;
    cursor: pointer;
    margin: 20px 10px;
    box-sizing: content-box;
}

.close:hover {
    background-color: rgba(191, 188, 188, 0.455);
}

.emp-form {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    margin: auto;
    line-height: 50px;
    padding: 60px;
    width: 100%;
    margin-top: -4%
}

.required:after {
    content: "*";
    color: red;
}

.emp-form-title {
    font-size: 35px;
    color: #2f7795;
    margin-left: 6%;
}

.card-icon {
    color: #969595;
}

.btn-edit,
.btn-delete {
    border: none;
    position: relative;
    left: 90%;
    font-size: large;
    background-color: white;
    margin-top: 20px;
    margin-right: 20px;
    cursor: pointer;
    color: #969595;
}

.overlay {
    background-color: rgba(236, 231, 231, 0.697);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
}