<h2>Login</h2>
<form (ngSubmit)="login()">
    <div>
        <label for="username" class="form-label">Username</label>
        <input type="text" id="username" name="userName" [(ngModel)]="loginUserModel.userName"
            required>
    </div>
    <div>
        <label for="password" class="form-label">Password</label>
        <input type="password" id="password" name="password" [(ngModel)]="loginUserModel.password"
            required>
    </div>
    <button type="submit" class="btn-login">Login</button>
</form>