<div class="emp-card p-10 gap-10">
  <img src="../../../assets/profile.jpg" alt="">
  <div>
    <h3 class="displayname pt-10 pb-8">{{ (employee.firstName + " " + employee.lastName) }}</h3>
    <p class="light">{{ getJobTitleNameById(employee.jobId) }}</p>
    <p class="light">{{ getDeptNameById(employee.deptId) }}</p>
    <p class="user-info-icons">
      <i class="fa-solid fa-phone card-icon pr-10"></i>
      <i class="fa-solid fa-envelope card-icon pr-10"></i>
      <i class="fa-solid fa-comment card-icon pr-10"></i>
      <i class="fa-solid fa-star card-icon pr-10"></i>
      <i class="fa-solid fa-heart card-icon pr-10"></i>
    </p>
  </div>
</div>