<div class="emp-card">
  <img src="../../../assets/profile.jpg" alt="">
  <div>
    <h3 class="displayname">{{ (employee.firstName + " " + employee.lastName) }}</h3>
    <p class="light">{{ employee.jobId }}</p>
    <p class="light">{{ employee.deptId }}</p>
    <p class="user-info-icons">
      <i class="fa-solid fa-phone card-icon"></i>
      <i class="fa-solid fa-envelope card-icon"></i>
      <i class="fa-solid fa-comment card-icon"></i>
      <i class="fa-solid fa-star card-icon"></i>
      <i class="fa-solid fa-heart card-icon"></i>
    </p>
  </div>
</div>