.emp-card {
    display: inline-flex;
    background-color: #E9E8E8;
    width: 305px;
    height: 98px;
    line-height: 4px
}

.emp-card>div {
    width: max-content;
    margin-top: -20px;
}

.emp-card>img {
    width: 90px;
    height: 95px;
}

.text-light {
    color: #514b4bd9;
}

.text-blue {
    color: #00B1FC;
}

.card-icon {
    color: #969595;
}

.displayname{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 200px !important;
}